BUCKET=COCoNuT
ORG=PIG
URL=https://influxdb.icelab.space.unibe.ch
INFLUXDB_TOKEN=ENTER YOUR TOKEN HERE
TCP_ENCRYPTION_KEY=abcdef0123
SMB_USER=user
SMB_PW=1234
EMAIL_RECIPIENT=firstname.lastname@unibe.ch
JOURNAL_URL=https://icelab.space.unibe.ch/labjournal/api
JOURNAL_TOKEN=ENTER YOUR TOKEN HERE